/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  /* text styles */
  /* font-family: ;
  font-size: ;
  line-height: ; 
  color: ;*/
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* turn off yellow background for input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

body {
  background-color: #f6f3e9;
}

.picture {
  max-width: 800px;
}

#canvas {
  background-image: url(../img/gallows.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.status {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(226, 226, 226, 0.75);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.status-popup {
  padding: 40px;
  background-color: #f6f3e9;
  border: 2px #4b3a26 solid;
  border-radius: 50px;
  width: 70%;
}

.status-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.status-picture {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin: 0 auto 40px;
}

.status-restart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid #2c2c2c;
  background-color: rgba(172, 172, 172, 0.662745098);
  border-radius: 40%;
}

.main {
  padding-top: 100px;
}
.main__content {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.question {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 50px;
}

.template {
  display: flex;
  text-align: center;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 600;
}

.errors__title {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
}
.errors__counter {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.errors__current-counter {
  color: red;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 450px;
  gap: 5px;
}
.keyboard__key {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 12px;
  text-transform: uppercase;
  padding: 10px;
  transition: background-color 0.3s;
}
.keyboard__key:hover {
  background-color: rgb(184, 184, 184);
  transition: background-color 0s;
}
.keyboard__key:active {
  transform: scale(0.9);
}
.keyboard__key.pressed {
  background-color: rgb(109, 109, 109);
  transition: background-color 0s;
}/*# sourceMappingURL=main.css.map */