.main__content{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 1180px) {
        justify-content: center;
        gap: 30px;
        padding-top: 30px;
    }
}